// Custom colors

$bl-primary: #5C26DA;
$bl-secondary: #FFC93E;
$bl-tertiary: #F7F8FB;
$bl-danger: #CD014A;
$bl-info: #059669;
$bl-warning: #F59E0B;
$bl-dark: #262626;
$bl-tertiary--opacity: rgba(241, 245, 249, 0.16);
